@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --bg-color: #F2F2F2;
  --text-color: #1a1818;
  --primary: #125bed;
  --secondary: #ff4500;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-geist: "Geist Mono", monospace;
}

.dark {
  --bg-color: #1a1818;
  --text-color: #F2F2F2;
  --primary: #125bed;
  --secondary: #ff4500;
}

@theme {
  --color-bgColor: var(--bg-color);
  --color-textColor: var(--text-color);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-sans);
  --font-geist: var(--font-geist);
  --font-urbanist: var(--font-urbanist);
}

body {
  font-family: var(--font-sans) !important;
}

button {
  cursor: pointer !important;
}