@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --bg-color: #F2F2F2;
  --text-color: #1a1818;
  /* --primary: #10B981; */
  /* --primary: #06B6D4; */
  --primary: #00aefb;
  --secondary: #ff4500;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-geist: "Geist Mono", monospace;
}

.dark {
  --bg-color: #1a1818;
  --text-color: #F2F2F2;
  /* --primary: #10B981; */
  /* --primary: #06B6D4; */
  --primary: #00aefb;
  --secondary: #ff4500;
}

@theme {
  --color-bgColor: var(--bg-color);
  --color-textColor: var(--text-color);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-sans);
  --font-geist: var(--font-geist);
  --font-urbanist: var(--font-urbanist);
}

body {
  font-family: var(--font-sans) !important;
  cursor: none !important;
}

body::-webkit-scrollbar {
  display: none;
}

/* Show cursor on interactive elements */
a, 
button,
input,
textarea,
select {
  cursor: none !important;
}

/* Add hover state for interactive elements */
a:hover,
button:hover {
  cursor: none !important;
}